
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #232D3F;
    color: white;
    font-size: 10px;
    font-family: "Raleway";
}

.header-top{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-left: 8%;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.header-top img{
    width: 20%;
    height: 10%;
    margin-top: 10px;
    left: 0;
}
.header-top a{
    text-decoration: none;
    color: white;
}

.header-top nav{
    margin-left: 40%;
}
.header-top li{
    display: inline;
    list-style: none;
    margin-left: 30px;
}

.button-login{
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.button-login:hover{
    background-color: white;
    cursor: pointer;
    color: #232D3F;
    transition: linear 0.4s;
}

.section-one{
    height: 530px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.text-article-top {
    font-family: 'Share Tech Mono';
    margin-bottom: 20px;
    letter-spacing: 8px;
    font-size: 2rem;
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 500ms steps(40) infinite, type 7s steps(40) infinite;
}

@keyframes type {
    0% { width: 0; }
    50% { width: 100%; } 
    100% { width: 100%; } 
}

@keyframes cursor {
    0% { border-right-color: white; }
    50% { border-right-color: transparent; }
    100% { border-right-color: white; }
}


.input-search{
    display: flex;
    justify-content: end;
    width: 60%;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    font-size: medium;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
}

.input-search:hover{
    cursor: text;
}

.input-search img{
    width: 25px;
    height: auto;
}



#line{
    width: 84%;
    height: 1px;
    background-color: white;
     margin-left: 8%;
}

.section-main-one{
    width: 86%;
    height: 300px;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-left: 8%;
}

.info-article-one{
    margin-left: 55px;
}

.info-article-one h3{
    color: #31E0C4;
}

.info-article-one h4{
    color: #008170;
}

.button-article{
    padding: 15px 40px 15px 40px;
    border-radius: 18px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.141);
    background-color: #005B41;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.button-article:hover{
    cursor: pointer;
    background-color: #014230;
    transition: linear 0.2s;
}


.img-js{
    width: 45%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#h1-article{
    margin: 40px 8% 40px 8%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.article-main-two{
    display: flex;
    flex-direction: row;
    width: 86%;
    margin: 3% 0% 3% 0%;
    align-items: center;
    margin-left: 8%;


}
.card-article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 300px;
    margin-right: 6.5%;
    align-items: center;
    word-break: break-all;
    font-size: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 15px;
    color: black;
}


.card-article span{
    color: #008170;
    font-weight: 700;
}

.img-card{
    width: 35%;
    height: auto;
}

.view-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #008170;
    border-radius: 100%;
    font-size: 4.5rem;
    font-weight: 200;
    text-align: center;
}

.view-more:hover{
    cursor: pointer;
    background-color: #005B41;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.view-more p:hover{
    animation: loading 500ms normal;
}

@keyframes loading {
	to {
		transform: rotate(100deg);
	}
}

.register-email{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    background-color: #0F0F0F;
    
}

.register-email h2{
    font-size: large;
    letter-spacing: 1px;
}

.register-email input{
    width: 60%;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
}

.register-email button{
    width: 30%;
}

.element-card{
    height: 80%;
    width: 86%;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}
.card{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 15px;
    align-items: center;
    width: 50%;
}

.top-element-card{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #31E0C4; /* Cor de fundo */
    border: 5px solid transparent; /* Define a borda como transparente para que o gradiente possa ser aplicado */
    border-image: linear-gradient(to right, #28655E, #31E0C4); /* Gradiente da borda */
    border-image-slice: 1;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 1px;
    padding: 5px 0px 5px 40px;
    margin-bottom: 40px;
}

.top-element-card2{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #31E0C4; /* Cor de fundo */
    border: 5px solid transparent; /* Define a borda como transparente para que o gradiente possa ser aplicado */
    border-image: linear-gradient(to right, #28655E, #31E0C4); /* Gradiente da borda */
    border-image-slice: 1;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 1px;
    padding: 5px 0px 5px 40px;
    margin-bottom: 40px;
}

.top-element-card:hover{
    cursor: pointer;
    background-color: #28655E; /* Cor de fundo */
    border: 5px solid transparent; /* Define a borda como transparente para que o gradiente possa ser aplicado */
    border-image: linear-gradient(to left, #31E0C4, #28655E); /* Gradiente da borda */
    border-image-slice: 1;
    transition: linear 0.3s;
    color: white;
}

.top-element-card2:hover{
    cursor: pointer;
    background-color: #28655E; /* Cor de fundo */
    border: 5px solid transparent; /* Define a borda como transparente para que o gradiente possa ser aplicado */
    border-image: linear-gradient(to left, #31E0C4, #28655E); /* Gradiente da borda */
    border-image-slice: 1;
    transition: linear 0.3s;
    color: white;
}

.card img{
   width: 38%;
   height: auto;
}

.card p{
    width: 70%;
    font-size: 1.5rem;
}

footer{
    height: auto;
    background-color: #0F0F0F;
    padding: 15px;
    text-align: right;
}
.footer-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-footer{
    margin: 0px 60px;
}
.section-footer a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    line-height: 25px;

}

.section-footer li{
    list-style: none;
}
